@import "../../../scss/abstracts/variables";

.invoice {
  &-title{
    margin-top: 35px ;
    margin-bottom: 32px ;
  }
  &-pay-btn {
    width: 200px;
    height: 50px;
    background: $tertiary-color;
    border-radius: 5px;
  }
  &-container {
    margin-bottom: 260px;
  }
  &-btn-label {
    line-height: 3.4 !important;
  }
  &-cancel-btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 1px solid $tertiary-color;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 20px;
  }
  &-cancel-btn-label {
    font-size: 15px;
    color: $tertiary-color;
    text-align: center
  }
  &-buttons-row {
    transform: translate(32px, 93px);
  }
}
